body{
    background-color: var(--laranja);
    background-image: url(../img/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

body::after{
    content: '';
    display: block;
    position: fixed;
    background: var(--gradiente-laranja);
    inset: 0;
    margin: auto;
    pointer-events: none;
    z-index: -1;
}
